RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule domowa index.php
RewriteRule logowanie logowanie.php
RewriteRule zaloguj zaloguj.php
RewriteRule wyloguj wyloguj.php
RewriteRule dodajAktualnosci dodajAktualnosci.php
RewriteRule kasujAktualnosci kasujAktualnosci.php
RewriteRule szczegolyAktualnosci szczegolyAktualnosci.php
