
body {
    background-image: url("../media/kosciol/Kosciol1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif;
    color: black;
}

@media (max-width: 991px) {
    body {
        background-image: url("../media/jakub/JakubApostol2.jpg");
        color: white;
    }
}


.my-img
{
    width: 90%;
    height: auto;
	margin-left: auto;
	margin-right: auto;
    background-color: white;
    color: black;
    padding: 1%;
}

.my-img img
{
    width: 100vw;
    height: auto;
}
